const _isBypass = window.location.hostname.includes("azurestaticapps.net");

export const CONFIG = {
  apiUrl: _isBypass ? "https://<CONTAINER_APP_FQDN>" : "http://localhost:3000",
  isBypass: _isBypass,
};
